* {
	font-family: sans-serif;
}

h1 {
	color: #5cf442;
}
h2 {
	color: tomato;
	transition: font-size 0.2s ease-in-out;
}
p {
	color: #f44444;
	transition: font-size 0.2s ease-in-out;
}
body {
	background-color: #ffffff;
}
p:hover {
	font-size: 20pt;
}
h2:time=20 {
	font-size:40
}
